body {
  margin: 0;
  font-family: 'Heebo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

.App {
  text-align: center;
}
nav a {
  /* display: inline-flex; */
  padding-top: 1.5rem;
  margin: 2rem;
  text-decoration: none;
  font-size: 1.2em;
  color: #712628;
  transition: 0.1s;
  vertical-align: middle;
  line-height: 8rem;
}
nav a:hover{
  color: #F76507;
  border-bottom: 2px solid #40BA93;
}
.navImage{
  height: 5.5rem;
  float: right;
  padding-right: 4rem;
  padding-top: 1.3rem;
}

.header{
  background-color: #FFEFE4;
  height: 8rem;
}

/* .navImageDiv{ 
  background-color: purple;
  float: right; 
  padding-right: 4rem;
  height: 8rem; 
  position: absolute;
  padding-top: 1.3rem;
}  */