/* .App {
  text-align: center;
  background-color: aquamarine;
}

.navImage{
  height: 60px;
  float: right;
  padding-right: 100px;
  border-radius: 50%;
}

.header{
  background-color: lightblue;
} */